<template name="playQuiz">
<div class="play-quiz">
	<div class="row">
		<div class="col s12">
			<ul class="collapsible white">
				<li>
					<div class="collapsible-header">
						<h5><i class="material-icons blue-text">question_answer</i>Qual o ano de fundaćão da Eletrobras</h5>
					</div>
					<div class="collapsible-body">
						<span>
							<a class="waves-effect waves-light btn-large question-button">1982</a>
							<a class="waves-effect waves-light btn-large question-button">1962</a>
							<a class="waves-effect waves-light btn-large question-button">1958</a>
						</span>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<h5><i class="material-icons blue-text">question_answer</i>Qual o valor de mercado da Eletrobras</h5>
					</div>
					<div class="collapsible-body">
						<span>
							<a class="waves-effect waves-light btn-large question-button">1982</a>
							<a class="waves-effect waves-light btn-large question-button">1962</a>
							<a class="waves-effect waves-light btn-large question-button">1958</a>
						</span>
					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<h5><i class="material-icons blue-text">question_answer</i>Onde está localizada a sede da Eletrobras</h5>
					</div>
					<div class="collapsible-body">
						<span>
							<a class="waves-effect waves-light btn-large question-button">1982</a>
							<a class="waves-effect waves-light btn-large question-button">1962</a>
							<a class="waves-effect waves-light btn-large question-button">1958</a>
						</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</template>